.item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    width: 100%;
    height: 70px;
    padding: 10px;
    margin: 5px 10px 5px 0;
    border-radius: 5px;
}


.nomePreco{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: none;
    width: 50%;
}

.nomeItem{
    display: flex;
    align-items: center;
    font-size: 22px;
    height: 42px;
    font-weight: bold;
    color: #555;
    background: none;
}

.nomeItem:hover{
    cursor: pointer;
}

.precoItem{
    display: flex;
    width: 50%;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #FF644F;
    background: none;

    
}

.quantidadeItem{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 30px;
    border: 2px solid #cdcdcd;
    border-radius: 45px;
    
}

.menosItem{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: 16px;
    font-weight: 900;
    /*background: #FF644F; */
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
}

.menosItem{
    cursor: pointer;
}

.valorQuantidade{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    border-left: 2px solid #cdcdcd;
    border-right: 2px solid #cdcdcd;
}

.maisItem{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    width: 25%;
    font-weight: 900;
    /* background: #24cbff; */
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

.maisItem{
    cursor: pointer;
}


.divBotaoRemover{
    display: flex;    
    justify-content: center;
    align-items: center;
    background: none;
    width: 15%;
    height: 35px;
}

.botaoRemover{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    
}

.botaoRemover:hover{
    cursor: pointer;
}

.removeButton{
    display: flex;
    width: 80%;
    background: none;

}

.divStatusIcon{
    display: flex;
    justify-content: space-between;
}

.statusIcon{
    display: flex;
    width: 30px;
    background: none;
    height: -moz-fit-content; /* para Firefox */
    height: -webkit-fit-content; /* para Chrome e Safari */
    height: fit-content; /* padrão para navegadores modernos */
    max-height: 26px;
}