@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
*{
    background: #fff;
    font-family: 'Nunito', sans-serif;
}

*:focus{
    outline: none;
}

::selection {
    background: transparent; /* Faz o fundo da seleção transparente */
    color: inherit; /* Mantém a cor do texto igual */
}

.bordaPrincipal{
    /* border: 1px solid #333; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
    align-content: flex-start;
}

.topo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.topo h1{
    display: flex;
    font-size: 22px;
    height: 60px;
    margin: 0;
    margin-bottom: 10px;
    align-items: center;
}

.formProdutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.formProdutos input{
    background: #eaeaea;
    color: #555;
    border: none;
    border-radius: 35px;
    width: 70%;
    height: 50px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
}

.botaoAdicionar{
    display: flex;
    border: none;
    background: #24CBFF;
    color: #fff;
    width: 20%;
    max-width: 50px;
    padding: 0;
    font-weight: bold;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
}

.botaoAdicionar:hover{
    cursor: pointer;
}

.listaProdutos{
    display: flex;
    flex-wrap: wrap;
    max-height: 60vh;
    margin: 0;
    margin-top: 20px;
    overflow-y: scroll;
    align-content: flex-start;
}

/* Estilização para Chrome, Edge, Safari */
.listaProdutos::-webkit-scrollbar {
    width: 10px;
}

.listaProdutos::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 45px;
}

.listaProdutos::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 45px;
}


@media screen and (min-width: 900px){
    .bordaPrincipal{
        width: 390px;
        margin: 0 auto;
    }
}

